.Task-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Task{
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  background: #ffffff;
  width: 100%;
}


